<!doctype html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Sight words - {{ title }}</title>
    <link rel="shortcut icon" type="image/svg" href="{{ url_for('static', path='/favicon.svg') }}" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1"
                    aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand">Sight Words</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    {% if title == 'Slides' %}
                    <li class="nav-item active"><a class="nav-link" href="#">Slides</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('slides') }}">Slides</a></li>
                    {% endif %}
                    {% if title == 'Video' %}
                    <li class="nav-item active"><a class="nav-link" href="#">Video</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('video') }}">Video</a></li>
                    {% endif %}

                </ul>
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% if message and redirect %}
        <div class="alert alert-info" role="alert">{{ message }} <a href="{{ url_for(endpoint, id=id) }}">{{redirect
                }}</a></div>
        {% elif message %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>

</html>